section.meny h1 {
  margin: 40px;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}
section.meny p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

section.meny h4 {
  margin: 40px 40px 10px 40px;
  font-size: 20px;
}

section.meny ol {
  margin: 0px 40px 20px 40px;
  line-height: 200%;
}

div.box {
  display: flex;
  justify-content: center;
}

section.tredelad {
  margin: 10px;
  float: left;
  width: 250px;
}

section.botten {
  background-color: #ffd54f;
}

section.fyllning {
  background-color: #ffb74d;
}

section.topping {
  background-color: #aed581;
}
